.cntnt	{
	width: 44%;
	float: left;
	padding: 0 50px;
}

.cntnt h3{
	text-align: center;
}

.icn	{
	color: #0a0;
	float: left;
	height:100%;
	font-size: 50px;
	padding: 50px 0;
}

@media screen and (max-width: 1200px) {
	.cntnt	{
		width: 80%
	}
}

@media screen and (max-width: 500px) {
	.cntnt	{
		padding: 0;
		width: 100%;
	}
	.icn	{
		padding: 0
	}
	img.articleDefiningPic {
	}
}

.faisalsImgcontain {
	text-align:center;
	margin: 30px 0;
	position: relative;
}

img.articleDefiningPic {
	width: 50%;
	border-radius: 20%;
	float:right;
}

.contain {
	padding: 20px 50px;
	text-align: justify;
	overflow: hidden;
}

.contain h1 {
	text-align: center;
	color: #070;
}

.contentNames {
	font-weight: bold;
	text-align: center;
	padding:50px;
	border-radius:100px;
	float:left;
	background-color:#0a0;
	color:white;
	cursor:pointer;
	margin-left: 50px;
	margin-top: 30px
}

.contentNames:hover {
	background-color: white;
	color: #0a0;
	transition: 0.5s
}

.faisalsModal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
}

.faisalsModal-content {
	background-color: white;
	margin: 5% auto 15% auto;
	border: 1px solid #888;
	width: 75%;
}

.faisalsClose {
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 50px;
	font-weight: bold;
}

.faisalsClose:hover,
.faisalsClose:focus {
	color: #070;
	cursor: pointer;
}

@media screen and (max-width:1367px) {
	.faisalsModal-content {
		width: 80%;
	}
}
@media screen and (max-width:650px) {
	img.articleDefiningPic {
		width: 80%;
		float:none;
	}
	.faisalsModal {
		padding: 0;
	}
	.contain	{
		padding: 10px;
	}
	.faisalsModal-content {
		margin: 0;
		width: 100%;
	}
}

#na {
	float: right;
	text-align: right;
	font-size: 250%;
	text-shadow: 0.5px 2px rgba(0,0,0,0.8);
	margin-left: 50px
}

.timeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}

.timeline::after {
	content: '';
	position: absolute;
	width: 6px;
	background-color: white;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
}

.container {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 50%;
}

.container::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	right: -17px;
	background-color: white;
	border: 4px solid #FF9F55;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
}

.left {
	left: 0;
}

.right {
	left: 50%;
}

.left::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid white;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent white;
}

.right::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid white;
	border-width: 10px 10px 10px 0;
	border-color: transparent white transparent transparent;
}

.right::after {
	left: -16px;
}

.content {
	padding: 20px 30px;
	background-color: white;
	position: relative;
	border-radius: 6px;
}

@media screen and (max-width: 600px) {
	.timeline::after {
		left: 31px;
	}

	.container {
		width: 100%;
		padding-left: 70px;
		padding-right: 25px;
	}

	.container::before {
		left: 60px;
		border: medium solid white;
		border-width: 10px 10px 10px 0;
		border-color: transparent white transparent transparent;
	}

	.left::after, .right::after {
		left: 15px;
	}

	.right {
		left: 0%;
	}
}
