body	{
	font-size: 90%;
}

.z	{
	padding: 50px;
}

@media screen and (min-width:768px) and (max-width: 1199px)	{
	.z	{
		padding: 25px;
	}
}

@media screen and (max-width: 768px)	{
	.z	{
		padding: 10px;
	}
	.onSmallerScreens	{
		display: none;
	}
}
.headerMenu	a {
	color: #e00;
	padding: 1.2vw 0;
}
.footer	a:hover {
	color: #e00;
}
ul#filterOptions{
	margin: 0;
	padding: 0;
	list-style: none;
	display: table; 
}

ul#filterOptions li{
	float:left;
}

ul#filterOptions li span{
	display: block;
	padding:0 10px;
}

ul#filterOptions li a{
	padding:0;
}

ul#filterOptions li.cur a:hover{
	color:#f00;
}

ul#filterOptions li a:hover{
	text-decoration:none;  
}

#filterOptions	{
	cursor: default;
}

.box p,li	{
	font-size: 125%;
}
.box h3	{
	text-transform: uppercase;
}

@media screen and (max-width: 768px)	{
	.box p,li	{
		font-size: 100%;
	}
}
.box img{
	max-width:100%
}

.linear{
	transition:all 200ms linear;   
	-webkit-transition:all 200ms linear;   
	-moz-transition:all 200ms linear;   
	-ms-transition:all 200ms linear;   
	-o-transition:all 200ms linear;   
}

.thumb-img	{
	position:relative;  
	overflow:hidden;
	margin: 20px
}

.thumb-img img{
	margin-left: auto;
	margin-right: auto;
	display:block;
	-webkit-transform: scale(1,1);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 250ms;
	-moz-transform: scale(1,1);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 250ms;  
}

.thumb-img:hover img, .link-attr:hover .thumb-img > img{
	-webkit-transform: scale(1.05,1.1);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 250ms;
	-moz-transform: scale(1.05,1.1);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 250ms;   
}

.thumb-img:hover img{
	opacity:0.8;
}

.folio-caption{
	position:absolute;
	bottom:-60px;
	left:0;
	background:rgba(255,0,0,0.8);
	width:100%;
	max-height:50px;
}

.folio-caption p{
	color:#fff;
	padding:15px;
	margin:0;
	text-align:center;
}

.folio-caption i{
	position:absolute;
	top:-10px;
	left:50%;
	font-size:30px;
	line-height:10px;
	margin-left:-10px;
	color:rgba(255,0,0,0.8);
}

i.scroll {
	color: #fff;
	position: absolute;
	top:-15px;
	left:50%;
	margin-left:-30px;
}

i.scroll:hover {
	color:#fff;
}

.leftcolum	{
	display: flex;
}

#leftleft	{
	display: inline;
	flex: 0.25;
	float: left;
	color: #fff;
	background: #A70323;
	width: 25%;
	padding: 25px;
	transition: 0.5s;
	margin-bottom: -20px;
}

#leftright	{
	flex: 0.75;
}

@media screen and (max-width: 700px)	{
	#leftleft	{
		display: none;
		position: absolute;
		z-index: 1;
		width: 0%;
		height: auto;
		margin-top: -500px;
		background-color: rgba(167,3,35,0.99);
	}
	#leftright	{
		flex: 1;
	}
}

ul#swnames {
	margin: 0;
	padding: 0;
	list-style: none;
	display: table; 
	transition: 1s ease;
}

ul#swnames a	{
	color: inherit;
	text-decoration: none;
}

.cur {
	cursor: pointer;
	padding: 25px 0;
}

ul#swnames li.cur a:hover	{
	color:#00a;
	font-weight: bold;
	cursor: pointer;
}

.fadingg {
	-webkit-animation: faisalsFading 1s;
	animation: faisalsFading 1s;
}

@-webkit-keyframes faisalsFading {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes faisalsFading {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.formdiv	{
	display: none;
}

#hid {
	color: #fff;
}

@media screen and (max-width: 450px)	{
	ul#filterOptions li{
		float:none;
	}
	#hid {
		margin: -25px 0
	}
}

#x	{
	display: none;
}

@media screen and (max-width: 700px)	{
	#x	{
		display: inline;
	}
}

ul#pages {
	margin: 0;
	padding: 0;
	list-style: none;
	display: table; 
	font-size: 125%;
	transition: 1s ease;
}

ul#pages a	{
	color: inherit;
	text-decoration: none;
}

ul#pages li	{
	float:left;
	margin-top: 100px;
	margin-right: 10px;
	padding: 12.5px 20px;
}

ul#pages li#selected	{
	color: #333;
	border-radius: 50%;
	background-color: #eee;
}

ul#pages li:hover	{
	color:#333;
	font-weight: bold;
	cursor: pointer;
	border-radius: 50%;
	background-color: #eee;
}