.swcontainer	{
	display: flex;
	width: 100%;
}

/* Left column */
#swleft {
	display: inline;
	font-size: 80%;
	flex: 0.3;
	float: left;
	color: #fff;
	background: #1964b9;
	width: 25%;
	padding: 25px;
	transition: 0.5s;
}

/* Right column */
#swright {
	flex: 0.7;
	float: left;
	width: 75%;
	padding: 0 0 20px 20px;
}

#swright h2 {
	text-align:left;
}

#swright img {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#more1,
#more2,
#more3,
#more4	{
	display: none;
}

@media screen and (max-width: 700px) {
	#swleft	{
		display: none;
	}
	#swright	{
		flex: 1;
		padding: 0 20px;
	}
	#swright img	{
		width: 75%;
	}
	#more1	{
		display: inline;
	}
	#more2,
	#more3,
	#more4	{
		display: none;
	}
	#more1,
	#more2,
	#more3,
	#more4	{
		border: none;
		outline: 0;
		padding: 10px;
		border-radius: 10%;
		margin: 20px 20px 0;
		color: #fff;
		background-color: #1964b9;
		text-align: center;
		cursor: pointer;
		font-family: "Handlee", sans-serif;
		font-size: 100%;
		box-shadow: 0 0.4vw 0.8vw 0 rgba(0, 0, 0, 0.2);
	}
}

@media screen and (max-width: 450px) {
	.headerText	{
		font-size: 350%;
	}
	#swright	{
		padding: 0;
	}
	#swright img	{
		width: 100%;
	}
}

ul.swnames {
	margin: 0;
	padding: 0;
	list-style: none;
	display: table; 
	font-size: 125%;
	transition: 1s ease;
}

ul.swnames a	{
	color: inherit;
	text-decoration: none;
}

.cur {
	padding: 25px 0;
}

ul.swnames li.cur a:hover	{
	color:#00a;
	font-weight: bold;
	cursor: pointer;
}

/*
.button {
	border: none;
	outline: 0;
	padding: 10px;
	color: #fff;
	background-color: #1964b9;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-family: "Raleway", sans-serif;
	font-size: 125%;
}

.button:hover {
	color:#00a;
}
*/

.fadingg {
	-webkit-animation: faisalsFading 1s;
	animation: faisalsFading 1s;
}

@-webkit-keyframes faisalsFading {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes faisalsFading {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
